<div>
    <img class="banner" src= "@ViewBag.Receta.Banner" alt="banner" style="margin-bottom: 2%">
    <h2>@ViewBag.Receta.Nombre</h2>
    <p>@ViewBag.Receta.Descripcion</p>
    <form action='@Url.Action("GuardarReceta","Account")'>
      <input type="hidden" name="IDReceta" id="IDReceta" value=@ViewBag.Receta.ID>
      <input type="hidden" name="IDUsuario" value="@ViewBag.IDUsuario">
      <button type="submit" class="btn btn-primary" style="display:flex">Guardar</button>
    </form>
    
    <div>
        <p><strong>Ingredientes</strong></p>
        <div style="display: flex">
        @foreach(Ingrediente ing in ViewBag.ListaIngredientes){
            <p style="margin-left: 1vb"><strong>@ing.Nombre</strong></p>
        }
        </div>
    </div>
    <div>
      @foreach(Paso paso in ViewBag.ListaPasos){
        <p style="margin: 0">@paso.NumPaso. @paso.Text</p>
      }
    </div>

</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ValorarModal" style="margin-top: 3vb">
  Valora esta Receta
</button>

<div class="modal fade" id="ValorarModal" tabindex="-1" aria-labelledby="ValorarModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ValorarModalLabel">Califica tu experiencia con esta receta!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action='@Url.Action("Valoracion","Home")' method="post">
            <input type="hidden" name="IDReceta" value="@ViewBag.Receta.ID">
            <label for="Valoracion">Valoracion</label>
            <input type="range" name="Puntaje" id="Puntaje" style="margin-bottom: 4%;"min="1" max="5">
            <br>
            <label for="Dificultad">Dificultad</label>
            <input type="range" name="Dificultad" id="Dificultad" style="margin-bottom: 4%;" min="1" max="5">
            <br>
            <label for="Duracion">Duracion</label>
            <input type="Number" name="Tiempo" id="Tiempo">
            <div class="form-text" style="display: flex; justify-content: flex-start; margin-bottom: 4%;">Ingrese la duracion en minutos.</div>
            <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
        </form>
      </div>
    </div>
  </div>
</div>