<div style="text-align: center; margin-top: 2%">
    <img src="/img/logo.png" alt="LOGO" style="height: 20%; width: 20%">
</div>
<div style="display: flex; flex-direction: row !important; justify-content: center; gap: 3vw; margin-top: 4%; margin-bottom: 4%">
@foreach(Receta rec in ViewBag.RecetasDestacadas){
    <a href='@Url.Action("DetalleReceta", "Home", rec)'>
    <div class="card">
        <img src="@rec.Img" alt="img" class="imgboxhome"><br>
        <h3 style="text-decoration: none;">@rec.Nombre</h3>
    </div>
    </a>
}
</div>

<div>
    <a class="creditos" href='@Url.Action("Creditos","Home")'>Creditos</a>
</div>

<div>
    <p class="fw-semibold text-muted" style="text-align: center; margin-top: 8%">Quieres buscar por...</p>
</div>

<div class="button busqueda">
    <a type="button" class="btn btn-warning" href='@Url.Action("BusquedaIngredientes", "Home")'>Ingredientes</a>
    <a type="button" class="btn btn-warning" href='@Url.Action("BusquedaRecetas", "Home")'>Receta</a>
</div>
<footer>
        <p style="display: flex; justify-content: center; margin-top: 2%">___________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</p>
        <div style="margin-top: 1%; text-align: center">
            <p>No estas decidido o estás dispuesto a probar cosas nuevas?</p>
            <a href="" style="color: rgb(240, 194, 45); justifycontent: center">Sorprendeme!</a>
        </div>
</footer>
</div>