<div style="display: flex; flex-direction: row !important; justify-content: center; flex-wrap: wrap; gap: 3vw; margin-top: 4%; margin-bottom: 4%">
@foreach(Receta rec in ViewBag.ListaRecetas){
    <a href='@Url.Action("DetalleReceta", "Home", rec)'>
    <div class="card">
        <img src="@rec.Img" alt="img" class="imgboxhome"><br>
        <h3 style="text-decoration: none;">@rec.Nombre</h3>
    </div>
    </a>
}
@if(ViewBag.ListaNula){
    <div style="display: inline-block;">
        <h4>No se encontraron recetas que coincidan con tu búsqueda. Buscá de nuevo!</h4>
        <div class="inlinediv" style="margin-top: 5%">
            <a type="button" class="btn btn-warning" href='@Url.Action("BusquedaIngredientes", "Home")'>Ingredientes</a>
            <a type="button" class="btn btn-warning" href='@Url.Action("BusquedaRecetas", "Home")' style="margin-left: -70%">Receta</a>
        </div>
    </div>
}
</div>